<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="Test">
      <sectionGroup name="CSF">
        <sectionGroup name="Configuration">
          <section name="MockConfigurationSection"
                   type="Test.CSF.Configuration.MockConfigurationSection, Test.CSF" />
        </sectionGroup>
        <section name="TestConfiguration"
                 type="Test.CSF.TestConfiguration, Test.CSF" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  
  <Test>
    <CSF>
      <Configuration>
        <MockConfigurationSection MockProperty="Configured value" />
      </Configuration>
      <TestConfiguration FilesystemTestingRootPath="/home/craig/Projects/CSF/ScratchArea/" />
    </CSF>
  </Test>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1507.118" newVersion="4.2.1507.118" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>