<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="Test">
      <sectionGroup name="CSF">
        <sectionGroup name="Configuration">
          <section name="MockConfigurationSection"
                   type="Test.CSF.Configuration.MockConfigurationSection, Test.CSF" />
        </sectionGroup>
        <section name="TestConfiguration"
                 type="Test.CSF.TestConfiguration, Test.CSF" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  
  <Test>
    <CSF>
      <Configuration>
        <MockConfigurationSection MockProperty="Configured value" />
      </Configuration>
      <TestConfiguration FilesystemTestingRootPath="/home/craig/Projects/CSF/ScratchArea/" />
    </CSF>
  </Test>
  
</configuration>